<section class="hero is-fullheight-with-navbar">
  <div class="hero-body ">
    <div class="columns">
      <div class="column">
        <images class="">
          <img src="/stylesheets/Peer2Peer Delivery Logo (1).svg">
        </images>
      </div>
      <div class="columns">
        <div class="column is-mobile">
          <div class=" control has-icons-left has-icons-right">
            <div class="card">
              <header class="card-header ">
                <p class="card-header-title is-size-1 has-text-centered ">
                  {{client.first_name}} {{client.last_name}}: Current Orders
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  {{#each client.packages}}
                  <div class="box">
                    <p class="has-text-weight-bold">Your package containing {{this.item}} with ID# {{this.id}} is
                      scheduled to be delivered {{this.deliver_by}}.</p>
                    <div class="columns is-mobile">
                      <div class="column is-mobile">
                        <p class="">Pick-up Location: </p>
                        <address class="">
                          {{this.pick_up_street}}
                          {{this.pick_up_city}}, {{this.pick_up_state}}
                          {{this.pick_up_zip}}
                        </address>
                      </div>

                      <div class="column is-mobile">
                        <p class="">Delivered To:</p>
                        <address class="block">
                          {{this.drop_off_street}}
                          {{this.drop_off_city}}, {{this.drop_off_state}}
                          {{this.drop_off_zip}}
                        </address>
                      </div>
                      <p>A driver will be assigned to your delivery soon!</p>
                    </div>
                  </div>
                  {{/each}}
                  <p class="has-text-weight-bold has-text-centered is-size-3"> Thank you for using peer2peer!</p>
                  </p>

                </div>
                <div class="card">
                  <footer class="card-footer">
                    <a href="/packages" class="card-footer-item">Send Another package</a>
                    <a href="#" class="card-footer-item">Want to be a driver?</a>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>