<section class="hero is-fullheight-with-navbar">
  <div class="hero-body ">
    <div class="columns">
      <div class="column">
        <figure class="image is-128x128">
          <img src="/stylesheets/Peer2Peer Delivery Logo (1).svg">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-mobile">
          <div class="column control has-icons-left has-icons-right">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Welcome {{client.first_name}} {{client.last_name}}!
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  {{#each client.assigned_driver}}
                  <p>Your package containing {{this.package.item}} with ID# {{this.package.id}} is scheduled to be delivered.</p>
                  <p>Pick-up Location: {{this.package.pick_up_street}}</p>
                  <p>{{this.package.pick_up_city}}, {{this.package.pick_up_state}}</p>
                  <p>{{this.package.pick_up_zip}}</p>
                  <p>Delivered To: {{this.package.drop_off_street}}</p>
                  <p>{{this.package.drop_off_city}}, {{this.package.drop_off_state}}</p>
                  <p>{{this.package.drop_off_zip}}</p>
                  <p> Your driver will be: {{this.first_name}} {{this.last_name}}</p>
                  <p> You may contact your driver at {{this.email}} or text {{this.cell_number}}.</p>
                    {{/each}}
                  <p> Thank you for using peer2peer!</p>
                  </p>
               
                </div>
                <div class="card">
                  <footer class="card-footer">
                    <a id='logout' class="card-footer-item">Log Out</a>
                    <a href="/packages" class="card-footer-item">Send Another package</a>
                    <a href="#" class="card-footer-item">Want to be a driver?</a>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>