<section class="hero is-fullheight-with-navbar">
  <div class="hero-body ">
    <div class="columns">
      <div class="column">
        <image class="">
          <img src="/stylesheets/Peer2Peer Delivery Logo (1).svg">
        </image>
      </div>
      <div class="columns">
        <div class="column is-mobile">
          <div class="column control has-icons-left has-icons-right">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Thank You, {{client.first_name}} {{client.last_name}}!
                </p>
              </header>
              <div class="card-content">
                <div class="content block">
                  {{#each client.packages}}
                  Your package containing {{this.item}} with ID# {{this.id}} is scheduled to be delivered.
                  <p class="block"><strong>Pick-up Location:</strong>
                {{this.pick_up_street}}
                {{this.pick_up_city}}, {{this.pick_up_state}}
                {{this.pick_up_zip}} 
                </p>

                  <p class="block">
                    Delivered To: {{this.drop_off_street}}</p>
                  <p>{{this.drop_off_city}}, {{this.drop_off_state}}</p>
                  <p>{{this.drop_off_zip}}</p>
                  <p>A driver will be assigned to your devlivery soon!</p>
                    {{/each}}
                  <p> Thank you for using peer2peer!</p>
                  </p>
               
                </div>
                <div class="card">
                  <footer class="card-footer">
                    <a href="/packages" class="card-footer-item">Send Another Package</a>
                    <a href="#" class="card-footer-item">Want to be a driver?</a>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>