<section class="hero is-fullheight-with-navbar">
  <div class="hero-body ">
    <div class="columns">
      <div class="column">
        <figure class="image is-128x128">
          <img src="/stylesheets/Peer2Peer Delivery Logo (1).svg">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-mobile">
          <div class="column control has-icons-left has-icons-right">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Welcome {{client.first_name}} {{client.last_name}}!
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  <p>Your package {{package.id}} is scheduled to be delivered</p>
                  <p> by {{package.driver_id}}{{driver.first_name}}{{driver.last_name}} </p>
                  {{!-- <p> by {{package.deliver_by}}</p> --}}
                  <p> Thank you for using peer2peer!</p>
                  </p>

                </div>
                <div class="card">
                  <footer class="card-footer">
                    <a href="#" class="card-footer-item">Log Out</a>
                    <a href="#" class="card-footer-item">Send Another package</a>
                    <a href="#" class="card-footer-item">Want to be a driver?</a>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
